@charset "utf-8";

html {}

body {}

/* header */
header {
    background: #3C4767;
    width: 100%;
}

#head {
    display: flex;
    flex-flow: row wrap;
    position: relative;
    align-items: center;
    margin: 0 50px;
}

h1 img {
    width: 80%;
}

.top-menu {
    cursor: pointer;
    position: absolute;
    right: 0px;
    top: 0px;
}

.name {
    display: flex;
    flex-flow: nowrap;
    align-items: center;
    padding: 33px;
    color: white;
    margin: 0;
}

.arrow {
    width: 8px;
    height: 8px;
    border: 1.5px solid;
    border-color: transparent transparent white white;
    transform: rotate(-45deg);
    margin: -5px 0 0 15px;
}

.arrow.active {
    width: 8px;
    height: 8px;
    border: 1.5px solid;
    border-color: white white transparent transparent;
    transform: rotate(-45deg);
    margin: 5px 0 0 15px;
}

nav {
    display: none;
}

.g-nav {
    margin: 0 -50px;
}

.g-nav ul {
    border: #6C6C6C solid 1px;
    border-bottom: none;
}

.g-nav a {
    display: block;
    padding: 25px 50px;
    color: #6C6C6C;
    background-color: white;
    border-bottom: #6C6C6C solid 1px;
    text-align: center;
}

.g-nav a:hover {
    color: white;
    background-color: #DE563C;
}

/* main content */
#row {
    display: flex;
    flex-flow: row wrap;
}

#container {
    flex: 0 0 80%;
}

#side-bar {
    flex: 0 0 19%;
    border-left: 1px solid #6C6C6C;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #f4f4f4;
    margin: 20% auto;
    width: 50%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
    animation-name: modalopen;
    animation-duration: 1s;
}

@keyframes modalopen {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.modal-header h1 {
    margin: 1rem 0;
}

.modal-header {
    background: lightblue;
    padding: 3px 15px;
    display: flex;
    justify-content: space-between;
}

.modalClose {
    font-size: 2rem;
}

.modalClose:hover {
    cursor: pointer;
}

.modal-body {
    padding: 10px 20px;
    color: black;
}
